*{
    margin: 0%;
    padding: 0%;
    font-variant:small-caps;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    background-image: url(../images/contactbg5.jpg);
    background-size:cover;
    background-repeat:no-repeat ;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* header ************************************************************************************************* */

.navbar{
    position: fixed;
    left: 0%;
    right: 0%;
    background-color: rgba(0, 0, 0);
    display:flex;
    justify-content:center;
    align-items: center;
    padding:20px ;
    font-weight: bold;
    z-index: 1;
   
   }
   .navbar a{
       color: white;
       padding: 8px;
       margin: 10px;
       margin-inline:30px ;
       border-radius:2px;
   }
   
   #home:hover,#collection:hover,#accessories:hover,#contact:hover{
      background-color: white;
      color: black;
       transition: 0.5s;
    }
    #logo{
       position: fixed;
       left:10px;
   
    }
   .navbar li{
       display: inline-block;
   }
    #boxhead{
       height:58px;
   
    }
   
      /* js************************ */

 
  
 /* section 1 form ************************************************************************************** */

.section1{
    padding-top:10px; 
    height: 35em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20vh;
    
}
#contactbox{
  background-color: rgba(0, 0, 0,0.9);
    text-align: center;
    padding: 20px;
    height: 32em;
    width: 25em;
    border-radius: 10px;
    box-shadow: 20px 24px  rgba(0, 0, 0,0.6);
    margin-top: 15vh;
  
}


#contactbox h2{
    color: white;
    font-variant:small-caps ;
        margin: 20px;
        margin-top: 10px ;
        font-size: 30px ;
   
   
}
#email,#password {
    background-color: white;
    border-radius: 9px;
    border: none;
    padding: 20px;
    margin: 20px;
    width: 40vh;
    height: 10px;
    font-size: medium;
     font-variant: small-caps;
}

.btn{
    border: none;
    padding: 15px;
    margin: 20px;
    font-size: 18px;
    font-variant: small-caps;
    border-radius: 10px;
    background-color: white;
}
.btn:hover{
     background-color:black ;
     color: white;
     transition: 0.5s;
}
