body{
    background-color:#24252a;
    color: white;
}

h1{
    color: red;
   text-align: center;
}
h2{
    color: yellow;
}

div[class*=box]{
    margin:40px 10px; 
}


[class^=trans]{
    display: flex;
    justify-content: center;
    align-items:center ; 
    text-align:center; 
    border:1px solid white;
    height:150px;
    width:150px;
    background-color: #3cceff; 
 }

/*                                  CSS Transform  

1. transform
        - none    -->default

    1.  - matrix(a, b, c, d, tx, ty)
        - matrix(scaleX(), skewY(), skewX(), scaleY(), translateX(), translateY())
        - matrix3d()   - Bending
 
    2.  - rotate('angle')
        - rotate3d()    - Bending
        - rotateX()
        - rotateY()
        - rotateZ()

    3.  - perspective() - Bending

    4.  - scale()
        - scale3d()     - Bending
        - scaleX()
        - scaleY()
        - scaleZ()      - Bending

    5.  - skew()
        - skewX()
        - skewY()

    6.  - translate()    <= translateX + translateY 
        - translate3d()    - Bending
        - translateX()
        - translateY()
        - translateZ()    

        

2. transform-style
3. transform-origin
4. transform-box

*/

                                 /*1. matrix(); */
.trans-box-1:hover{
    /* matrix(scaleX(), skewY(), skewX(), scaleY(), translateX(), translateY()) */
    transform: matrix(1, 2, -1, 1, 80, 80);
}


                                 /*2. rotate(); */
.trans-box-2:hover{
    transition:all 3s;
    transform: rotate(30deg);
    transform: rotateX(30deg);
    transform: rotateY(30deg);
    transform: rotateZ(360deg);

    /* Bending */
    /* transform: rotate3d(-30deg); */


}


                                 /*3. perspective(); */
.trans-box-3:hover{
    /* Bending */
    transform: perspective(100px) rotate(10deg); 
    transform: perspective(100px) scale(2); 
    transform: perspective(200px) translate(150px); 
    transform: perspective(200px) skew(150deg); 
     /* combine */
     transform: perspective(100px) rotate(360deg) scale(2) ; 
     transform: perspective(100px) rotate(360deg)  skew(10deg) ; 
     transform: perspective(100px) rotate(360deg)  translate(100px) ; 
     transition:all 3s linear;
}


                                 /*4. scale(); */
.trans-box-4:hover{
    transition:all 3s;
    transform:scale(2); 
    transform:scaleX(2); 
    transform:scaleY(2); 

    /* Bending */
    /* transform:scaleZ(2);  */
    
}

                                     /*4. skew(); */
.trans-box-5:hover{
    transition:all 3s;
  transform: skew(15deg);
  transform: skewX(15deg);
  transform: skewY(15deg);
    
}




                                /*6. translate(); */
.trans-box-6:hover{
    transition:all 3s;
    transform: translateX(100px);
    transform: translateY(200px );
 /* translateX + translateY  = translate()   */
    transform: translate(100px ,100px );

    /* Bending */
    /* transform: translate3d(100px); */
}




