@use "sass:math";
@import "variable"; //2. partical and Import
@import "maps"; //6. maps in sass
         
body{
    background-color:#24252a;
    line-height: 2;
}   
  

h1{
    text-align:center;
    color:hotpink;
    padding: 20px;  
    font-family:cursive;
}
/* 
1. How to install sass
2. Variable in sass 
3. Partical and @import 
4. Nested Rules
5. Math Function
6. Maps in sass



*/
                    // 2. variables in sass


.para-1{
    color: $pimary-color;
    font-size: $font-size-sm;
}
.para-2{
    color:$secondary-color;
    font-size: $font-size-md;
}
.para-3{
    color: map-get($colors,"danger");  
    font-size: $font-size-lg;

}



                        // 3. Nested Rules 
.para-container{
    border:1px solid white;
    padding:10px;

     .para-4{
        color:springgreen;
        font-size:$font-size-md;
     }
}

                        //4.Math Function  

@debug "hello world ";
@debug math.random();
@debug math.ceil(3.3);
@debug math.floor(3);
@debug math.random(3);
@debug math.min(3,2);
@debug math.max(2,3);
@debug math.sqrt(11);
@debug math.abs(11);
@debug math.compatible(10px,20px);
@debug math.percentage(0.9);
@debug math.is-unitless(10);
@debug math.unit(10px); 
@debug math.div(2,1); //division to calculate 
                    // 6. inhertiance 