/* 
                1. Selectors

1. Universal or WildCard Selector   ( * )
2. Element Selector                 (tag name)
3. Class Selector                   ( . )
4. ID Selector                      ( # )
5. Specific Class Selector          (tag.classname)
6. Group Selector  

************************************************************

                2. Combinators  

1. Decendent Selector                  (space)
2. Child Selector                      ( > )
3. Adjecent Sibling Selector           ( + )
4. General Sibling Selector            ( ~ )


************************************************************

                3. Pseudo-elements

1. ::first-line         Pesudo-elements  
2. ::first-letter       Pesudo-elements 
3. Multiple             Pesudo-elements 
4. ::Before & ::after   Pesudo-elements 
5. ::marker             Pesudo-elements 
6. ::selection          Pesudo-elements 
7. ::placeholder        Pesudo-elements

8  ::content
9  ::backdrop
10 ::grammar-error
11 ::spelling-error
12 ::target-text
13 ::cue()
14 ::cue-region()
15 ::part
16 ::shadow

12 ::view-transition
13 ::view-transition-group
14 ::view-transition-image-pair
15 ::view-transition-new
16 :view-transition-new
17 ::view-transition-old

************************************************************
                4.Pseudo-classes

Attribute selector tag [attributename]
Attribute selector tag [attributename="value"]
Attribute selector tag [attributename~="value"]
Attribute selector tag [attributename^="value"]
Attribute selector tag [attributename*="value"]
Attribute selector tag [attributename$="value"]
Attribute selector tag [attributename|="value"]

:active
:any-link
:blank

:checked
:corner-present
:current

:decrement
:default
:defined
:dir
:disabled
:double-button
:empty

:enabled
:end

:first
:first-child
:first-of-type
:focus
:focus-visible
:focus-within
:fullscreen
:future

:has
:horizontal
:host
:host()
:host-context()
:hover

:in-range
:increment
:indeterminate
:invalid
:is

:matches()

:lang()
:last-child
:last-of-type
:left
:link
:local-link

:no-button
:not()
:nth-child()
:nth-last-child()
:nth-last-of-type()
:nth-of-type()

:only-child
:only-of-type
:optional
:out-of-range

:past
:paused
:picture-in-picture
:placeholder-shown
:playing

:read-only
:read-write
:required
:right

:scope
:single-button
:start

:target
:target-within

:user-invalid
:user-valid

:valid
:vertical
:visited

:where
:window-inactive

*/

/* ------------------------------------------------------------- *\
                            #1.Selectors 
\* ------------------------------------------------------------- */

/* 1. Unviersal Or  Wildcard Selector ( * )     */
*{
    margin:0;
    padding:0;
}

/* 2. Element Selector */
body{
    background-color:#25242a;
    color: white;
    line-height:4;
    font-size: 16px;
    margin-left:40px;
}
p{
    font-size:1.5rem;
}
h1{
    text-align: center;
    color: red;
}


/* 3. Class Selectors  ( . ) */
.para-one{
    color: lightblue;
}

/* 4. Id Selector     ( # ) */
#para-two{
    color: lightcoral;
}

/* 5. Specific Class Selector */

.para-three{
    color:orange;
}
/* specific class */
h2.para-three{
      color: lawngreen;
}

/*6. Grouping Selector*/

/* similar to --> element,id */
.group-para1,.group-para2,.group-para3{
    color:lightgray;
}

/* ------------------------------------------------------------- *\
                            #2.Combinators 
\* ------------------------------------------------------------- */


/* 1. Decendent Selector (space) */
div p b{
    color: green;
}

/* 2. Child Selector     ( > )*/
.child-container > p{
    color: yellow;
}

/* 3. Adjecent Sibling Selector  ( + ) */
.child-container + p{
    color: lightpink;
}

/* 4. General Sibling Selector   ( ~ ) */
.child-container ~ h3{
      color: lightsalmon;
}

/* ------------------------------------------------------------- *\
                            #3. Pseduo Element
\* ------------------------------------------------------------- */

/* 1. ::first-line 

 --block level element only change
following properties only working 
        font properties
        color properties
        background properties
        word-spacing
        letter-spacing
        vertical align
        text-transform
        line-height
        clear
*/
.pseudo-element::first-line{
    color: lightcoral;
    text-decoration: underline;
    
}

/* 2. ::first-letter

 --block level element only change
following properties only working 
        font properties
        color properties
        background properties
        margin properties
        padding properties
        border properties
        vertical align (only if "float" is "none")
        text-transform
        line-height
        float
        clear
*/
.para2::first-letter{
    color:red;
    border: 1px solid yellow ;

}

/* 3. Multiple Pseudo element */
.para3::first-line{
  text-decoration:underline;
  color: aqua;
}

.para3::first-letter{
    font-size: 40px;
    color: yellow;
}

/* 4. ::before & ::after */
.para4::before{
  content:"4. ::before ";
  color: yellow;
}
.para4::after{
    content: " ::after";
    color: blueviolet;
}

.para5 span::before{
    content: "$";
    color: red;
}

/* 5. ::marker  */
.Unorder-list li::marker{
    color: red;
    font-size:20px;
}
/* using symble */
.Order-list li::marker{
    content: "😊 ";
    font-weight: bold;

}
/* using h3 convert to list  */
.list {
    display: list-item;
    counter-increment: mylist;
}
.list::marker{
    content: counter(mylist) ". " ;
    color: blue;
}

/* 6. ::selection Pseudo element */
.para7{
    line-height:2;
    width:80vw;
}
.para7::selection{
    background-color:lightblue;
    color:red;
}

/* 7. ::placeholder selector */
.para8{
    color: yellow;
}

.para8-container input{
    color:blue;
    font-size:15px;
    padding: 10px;
}
.para8-container input::placeholder{
   color:orange;
    text-align: center;
}


/* ------------------------------------------------------------- *\
                            #3. Pseduo classes
\* ------------------------------------------------------------- */


/* 1. Attribute selector tag [Attribute name] */
.para9{
    line-height:2;
    width:500px; 
}
.para-title{
    color: yellow;
}

/* select attribute name  */
a[target]{
    color: red;
}

/* 2.Attribute selector tag [Attribute name = "value"] */
a[target="_parent"]{
    color:blue;
}

  