
@use "sass:math"; // <---- 5. If you want to use the MATH function in sass you put in the root stylesheet
@import "variable"; // 1. variable below
@import "button"; //2. partical and Import
@import "math"; // 4. Go to math function in SASS
@import "map";  // 6. map it is best using orgainizing the properties
@import "each"; // 7. @each , @for ,@if @else include the file
@import "pesudoselector"; //8. using selector in SASS
//1. variables
 
*{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    font-variant: small-caps;   
    color:#edf1f2;
}
a{
    text-decoration: none;
}
body{
    background-color:#24252a;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    margin-bottom:20vh;
}


//3. Nested Rules
nav{
    background-color: gray;
    padding:15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo{
        font-size:1rem;
    }
    li{
        display:inline-block;
        margin-left: 20px;
      
    }

}
h1{
    font-size:$font-size-sm; 
    
}
h2{
   font-size: $font-size-md;
}
h3{
    font-size: $font-size-lg;
    color:map-get($colors ,"primary" );
}
h4{
    font-size: $font-size-xl;
    color:map-get($colors ,"success" );

}
h5{
    font-size: $font-size-xxl;
    color:map-get($colors ,"danger" );

   
}
p{
    padding:10px
}

hr{
    height:10px;
    background: linear-gradient(to right,white,#24252a);
    border: none;
}


 
   