body{
    margin: 0;
    padding:0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.875) 10%, rgba(0, 255, 255, 0.858) );
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-variant: small-caps;
}

/* ---  PROJECT 24 Digital clock ---  */


.main-clock-container{
 display: flex;
 justify-content:center;
 align-items:center; 
height: 99vh;    
}
.clock-container{
    display:grid;
    place-items: center;
    border:3px solid white;
    width:40%;
    border-radius:16px;

}
.clock-container p{
    margin:30px;
    color: white;
    font-size:60px;
    font-weight: bold;
}
.ampm{
    font-size:40px;
}