body {
    background: #24252a;
    box-sizing: border-box;
    font-family: 'Trebuchet MS';
    margin-bottom: 50vh;
}

h1 {
    color: white;
    text-align: center;
}
h2{
    font-size:3rem;
    color:red;
    text-align: center;
}

.box-container {
    border: 2px solid white;
    color: black;
    font-weight: bold;
    display: flex;


}

.flex-item {
    padding: 10px;
    text-align: center;
}

.box-1 {
    background: lightblue;
}

.box-2 {
    background: lightcoral;
}

.box-3 {
    background: lightcyan;
}

.box-4 {
    background: lightslategray;
}

.box-5 {
    background: lightgray;
}

.box-6 {
    background: lightgreen;
}

.box-7 {
    background: lightsalmon;
}

.box-8 {
    background: lightseagreen;
}

.box-9 {
    background: lightgoldenrodyellow;
}

.box-10 {
    background: lightskyblue;
}               
                                    /* Flex box start */

/*CSS Flex box

                            --- Container Properties ---

  1.display
  2.flex-direction          <-- ( row direction or column direction ) 
  3.flex-wrap
  4.flex-flow               <-- ( flex-direction + flex-wrap )
  5.column-gap
  6.row-gap
  7.gap                     <-- ( column-gap + row-gap )
  8.justify-content
  9.align-itmes 
  10.align-content

                                 --- Item Properties ---
11.order
12.flex-grow
13.flex-shrink
14.flex-basis
15.flex
16.align-self



*/

.container1{
    display:inline-flex;
}

.container2{
    flex-direction: row;
    flex-direction:row-reverse;
    flex-direction: column;
    flex-direction: column-reverse;
}

.container3{
    width:510px;
    flex-direction: row;        
    /* row direction */

    flex-wrap: nowrap;
    flex-wrap: wrap;
    flex-wrap: wrap-reverse;

    flex-direction: column;   
    /* column direction */

    width:auto;
    height: 200px;
    flex-wrap: nowrap;
    flex-wrap: wrap;
    flex-wrap: wrap-reverse;
}

.container4{
                /* flex-direction + flex wrap = flex-flow */

    /* row direction */
    width: 500px;
    flex-flow: row nowrap;
    flex-flow: row wrap;
    flex-flow: row wrap-reverse;

     /* column direction */
    width: auto;
    height: 200px;
    flex-flow: column nowrap;
    flex-flow: column wrap;
    flex-flow: column wrap-reverse;
}

.container5{
    flex-wrap:wrap ;
    width: 500px;  

    row-gap:50px;
}
.container6{
   
    column-gap:50px;
}

.container7{
     /* row-gap + column-gap = gap */
     flex-wrap:wrap ;
     width: 500px;
     
     gap:10px 20px;
     gap: 20px;
}

.container8{
    
            /* row direction */
    /* align-content horizontal line  */

    justify-content:start;        
    justify-content:flex-end;
    justify-content:center;
    justify-content:space-around;
    justify-content:space-evenly;
    justify-content:space-between;

          /* column direction */
    /* align-content vertical line  */

     flex-direction: column;
     height:300px;
     justify-content:start;
     justify-content:flex-end;
     justify-content:center;
     justify-content:space-around;
     justify-content:space-evenly;
     justify-content:space-between;


}

.container9{
    height:300px;
             /* row direction */
    /* align-content vertical line  */
    
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    align-items: baseline;   /*text line maintain center it mainly using logo*/
    

            /* column direction */
    /* align-content horizontal line  */

    flex-direction: column;
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    align-items: baseline;   

}
