body{
    font-family: cursive;
    background:linear-gradient(120deg,springgreen,lightblue );
    background-attachment: fixed;
}

.main-title{
    text-align:center;
    color:yellow;
}
.form-container{
    display: flex;
    justify-content:center;
    align-items:center;
}
.form-title{
    text-align: center  ;
}
.form-main-container{
    padding: 35px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.55);
 }

 form > div{
    margin-top:5px;
    text-align: justify;

 }
 input{
    margin-top:5px;
    padding:12px;
    max-width: 50vw;
    min-width: 250px;
    border:none;
    border-radius: 8px;
 }
input:focus{
    outline: 0;
}

 .form-btn-container{
    text-align: center ;
 }
 
 .form-btn{
    padding:12px;
    border:none;
    font-weight:bold;   
    border-radius: 8px;
    background-color: springgreen;
    color: white;
    font-size:16px ;
    cursor:pointer;
 }

 .form-btn:hover{
    background-color: lightgrey;
    color: white;
    font-size:16px ;
   transition:0.5s ease ;
   
 }

 .error{
    color: red;
    padding:5px;
 }

