* {
  margin: 0%;
  padding: 0%;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;



}

:root {
  /* background color  */
  --bg-color-w: #ffffff;
  --bg-color-b: #000000;
  /* text color */
  --text-color-b: #000000;
  --text-color-w: #ffffff;
  --text-color1: #cdb4db;
  --text-color2: #ffc8dd;
  --text-color3: #ffafcc;
  --text-color4: #bde0fe;
  --text-color5: #a2d2ff;
  --text-color6: #616163;
  --text-color6: #456990;
  --text-color6: #703d57;
  --text-color6: #131200;
  --text-color6: #45062e;

}


body {
  background-image: url(../image/bgimage/c2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  line-height:3;
  font-size:16px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0%;
  right: 0%;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.300);

}

.navbar a {
  margin: 0px 30px;
  padding: 10px;
  border-radius: 3px;
  font-weight: bold;
  color: #203760;



}

.navbar a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  transition: 0.5s;



}

.logo {
  position: absolute;
  left: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #203760;

}


#boxhead {
  height: 48px;
}

                          /*******************\
                                #section 1
                          \*******************/

.main-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-flow: wrap;
  gap:30px;
}

.main-title{
  margin-top: 50px;
  text-align: center;
  font-weight: bold;
  color: #fff200;
  text-transform: uppercase;

}

/* remedies paragraph ******************************************** */

.transplant-container1 {
  margin:20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255,0.800);
  color: black;
  text-align:justify;
  font-size:1.2rem; 
  padding:20px;
  font-weight:400;
}


@media all and (max-width:613px) {

  body {
    background-position-x: -200px;
    background-position-y: -10px;
  }

  
}

@media all and (max-width:320px){
  .transplant-container1{
    font-size: 0.8rem;
  }
}
