* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

a {
  text-decoration: none;
}

:root {
  /* background color  */
  --bg-color-w: #ffffff;
  --bg-color-b: #000000;
  /* text color */
  --text-color-b: #000000;
  --text-color-w: #ffffff;
  --text-color1: #cdb4db;
  --text-color2: #ffc8dd;
  --text-color3: #ffafcc;
  --text-color4: #bde0fe;
  --text-color5: #a2d2ff;
  --text-color6: #616163;
  --text-color6: #456990;
  --text-color6: #703d57;
  --text-color6: #131200;
  --text-color6: #45062e;
}

body {
  background-image: url(../image/bgimage/c4.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0%;
  right: 0%;
  padding: 15px;
  background-color: rgba(1, 1, 1, 0.1);
  z-index: 1;
}

.navbar a {
  margin: 0px 30px;
  padding: 10px;
  border-radius: 3px;
  font-weight: bold;
  color: #203760;
}

.navbar a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  transition: 0.5s;
}

.logo {
  position: absolute;
  left: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #203760;
}

.boxhead {
  height: 48px;
}

/*background image */

.bg-image-box {
  border: 1px solid yellow;
  display: none;
}

.bgimage {
  display: none;

}

/*******************\
                                          #section - 1
                                    \*******************/
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.form-title {
  text-align: center;
  padding: 10px;
  color: white;
}

.form-container {
  text-align: center;
  padding: 15px;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  margin: 30px;

}

.Email,
.Firstname,
.Mobileno,
.Address,
.State,
.City,
.Cause,
.aboutwhatpbm {
  margin: 10px 0px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
  resize: none;
  width: 250px;
  color: white;


}

input::placeholder {
  color: black;
  font-weight: 400;
}

input:focus {
  outline: 1px solid white;

}

.aboutwhatpbm:focus {
  outline: 1px solid white;
}

.Cause,
.aboutwhatpbm {
  width: 100%;

}

.aboutwhatpbm {
  margin-bottom: 20px;
}

.State,
.City,
.Cause {
  color: black;
}


input[type="file"] {
  display: none;

}

.uploadimg {
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
  border-radius: 5px;
  font-size: medium;
  padding: 10px;

}

.uploadimg:hover {
  transition: 0.5s;
  color: white;
  cursor: pointer;
}


.btn {
  margin-top: 20px;
  padding: 10px;
  font-size: 14px;
  border: none;
  background-color: #017aee;
  color: white;
  font-weight: bold;
  transition: 0.5s;
  border-radius: 10px;
}

.btn:hover {
  background-color: #c71d28;
  transition: 0.5s;
  color: white;
}

@media all and (max-width:613px) {

  body {
    background-position-x: -100px;
  }

  .Cause,
  .aboutwhatpbm {
    width: 250px;
  }

}

@media all and (max-width:320px) {
  .form-container {
    margin-top: 20px;
  }


}