* {
  margin:0;
  padding:0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
  /* background color  */
  --bg-color-w: #ffffff;
  --bg-color-b: #000000;
  /* text color */
  --text-color-b: #000000;
  --text-color-w: #ffffff;
  --text-color1: #cdb4db;
  --text-color2: #ffc8dd;
  --text-color3: #ffafcc;
  --text-color4: #bde0fe;
  --text-color5: #a2d2ff;
  --text-color6: #616163;
  --text-color6: #456990;
  --text-color6: #703d57;
  --text-color6: #131200;
  --text-color6: #45062e;

}


body {
  background-image:url(../image/bgimage/c3.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position:center;
  background-size:cover;
  line-height: 1.3;
  font-size: 16px;

}

.header {
  display: flex; 
  justify-content: center;
  align-items: center;
  position: fixed;
  left:0;
  right:0;
  padding: 15px;
  background-color: #ffffff4d;
}

.navbar a {
  margin: 0px 30px;
  padding: 10px;
  border-radius: 3px;
  font-weight: bold;
  color: #203760;

}

.navbar a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  transition: 0.5s;



}

.logo {
  position: absolute;
  left: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #203760;

}

#boxhead {
  height: 48px;
}

                                    /*******************\
                                          #section - 1
                                    \*******************/
.Donate-title{
  margin:30px;
  text-align: center;
  color: black;
}

.main-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

                                    /*******************\
                                        #profile cards
                                    \*******************/

.profile-card {
  margin:30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid white;
  border-radius:10px ;
  padding:10px;
  background:linear-gradient(20deg ,rgba(255, 192, 203, 0.808),rgba(255, 255, 255, 0.61)) ;
  width:clamp(250px,0px,15vw);
}
.profile-card__desc--box{
  padding:10px;
}
.profile-card__img {
  width: clamp(100px,15vw,15vw);
  border-radius: 10px;
}

.profile-img__container{
  text-align: center;
}
.profile-card__title {
  font-size:1rem;
  font-weight: bold;
}

.profile-card__desc--box p{
  padding:8px;
}

.profile-card__amt {
  font-weight: bold;
  border:2px solid red;
  text-align: center;
  animation: animate 2s ease infinite;
  padding:10px;
  border-radius:8px;

}

@keyframes animate {

  0%,
  100% {
    color: red;
    font-weight: bold;
    background-color: white;

  }

  25% {
    color: white;
    font-weight: bold;
    background-color: black;

  }

  60% {}
  
}

.profile-card__button--container{
  text-align: center;

}

.profile-card__button {
  margin-top:20px;
  font-weight:bold;
  font-size:16px;
  width:100px;
  background-color: white;
  color: black;
  border:none;
  padding:10px;
  border-radius:3px;
}

.profile-card__button:hover {
  color: white;
  background-color: black;
  transition: 0.5s;

}