* {
  margin: 0%;
  padding: 0%;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

:root {
  /* background color  */
  --bg-color-w: #ffffff;
  --bg-color-b: #000000;
  /* text color */
  --text-color-b: #000000;
  --text-color-w: #ffffff;
  --text-color1: #cdb4db;
  --text-color2: #ffc8dd;
  --text-color3: #ffafcc;
  --text-color4: #bde0fe;
  --text-color5: #a2d2ff;
  --text-color6: #616163;
  --text-color6: #456990;
  --text-color6: #703d57;
  --text-color6: #131200;
  --text-color6: #45062e;
}

body {
  background-image: url(../image/bgimage/c1.jpg);
  background-repeat:repeat;
  background-attachment: scroll;
  background-position:center;
  height: 100vh;
  width: 100vw;
  font-size: 16px;
}
                                      /****************************\
                                            # Navigation Bar
                                      \****************************/
.header{
  position: fixed;
  left:0;
  right:0;
  background-color: black;
}
li{
  list-style: none;
}
.navbar{
  display:flex;
  justify-content:center;
  align-items: center;
  padding: 10px;
}
.nav-container{
  display:inline-flex;

}
.nav-container li{
  margin:10px 15px ;
 
}
.nav-container a{
  font-weight: bold;
  color: #203760;
}
.nav-container a:hover{
  text-decoration: underline;
  text-decoration-thickness: 2px;
  transition: 0.5s;
} 
.logo{
  position: absolute;
  left:15px;
  font-size:18px;
  font-weight: bold;
  color: #203760;

  
}
.menu{
  display: none;
}
.menu-line{
  margin:2px;
  width:20px;
  height:3px;
  background-color:#000000;
}


#boxhead {
  background-color: black;
  width: 100vw;
  height: 50px;
  position: absolute;
  display:grid;
  place-items: center;
  background-color:rgba(255, 255, 255, 0.993);

}
  
                                      /****************************\
                                              # Section - 1
                                      \****************************/

.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid black;
  width: 100vw;
  height:100vh;
}
.container-box{
  padding:3vw;
}

.container-title {
  text-align: center;
  color: #4064a1;

}

.container-para {
  margin-top: 15px;
  line-height: 1.5em;
  font-size:2vw;
  font-weight: lighter;
  text-align: center;
  color: #9d0106b4;
}

.container-button__box {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.container-button__primary {
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  border-radius: 6px;
  border: 2px solid white;
  color: white;
  background-color: rgb(83, 206, 247);
}

.container-button__secondary {
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  border-radius: 6px;
  border: 2px solid white;
  color: white;
  background-color: rgb(255, 140, 157);
}

.container-button__primary:hover,
.container-button__secondary:hover {
  border: 2px solid lightblue;
  background-color: white;
  color: lightblue;
  box-shadow: 8px 8px 5px lightblue;
  transition: 0.5s;
}

.container-button__secondary:hover {
  border: 2px solid rgb(255, 159, 173);
  background-color: white;
  color: rgb(255, 159, 173);
  box-shadow: 8px 8px 5px lightpink;
  transition: 0.5s;
}
                                      /****************************\
                                              # Media Query 
                                      \****************************/

/* 
 font-size:16px -> mobile responsive 375px
 font-size:24px -> mobile responsive 425px
 font-size:32px -> mobile responsive 768px
 font-size:48px -> mobile responsive 1024px */


                                      /****************************\
                                              @media 1440px
                                      \****************************/

 @media all and (max-width:1440px){

  .container-title{
    font-size:3.5rem;
  
  }
   }
                                      /****************************\
                                              @media 1024px
                                      \****************************/
 @media all and (max-width:1024px){

.container-title{
  font-size:2.8rem;
}
 }

                                      /****************************\
                                              @media 768px
                                      \****************************/
@media all and (max-width:768px){

              /* Navigation Bar */
  .header{
    width:50vw;
    height:100vh;
    transition:0.52s;
    position: absolute;
    left:-400px;
    background:whitesmoke;
  }
  .showmenu{
    left:0;
    transition: 0.5s;
  }
  .navbar{
    display:block;

  }
  .nav-container{
    display:block;
    text-align: center; 
  }
  .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:15px;
    padding:10px;
    position: static;

  }
  
   .menu{
     cursor:pointer;
     display: block;
     position: absolute;
     top:10px;
     left:10px;
   } 


   .close-btn{
    width:15px;
    height:15px;
    background-color: black;
    border-radius:50%;
    cursor: pointer;
   
   }
                /* Section - 1*/
.container-title{
  font-size:2.5rem;

}


}

                                      /****************************\
                                              @media 425px
                                      \****************************/
@media all and (max-width:425px){

  /* Section - 1  */

  body{
    background-image: url(../image/bgimage/c1-copy\ .jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:-100px;
  }
  .main-container{
    justify-content: center;
    align-items: center;
   
  }
  .container-box{

    padding:5px;
  }
.container-title{
  font-size:1.4rem;
  
}
.container-para{
  font-size:0.75rem;
  padding:16px;
}
}