body {
    background: #24252a;
    box-sizing: border-box;
    font-family: 'Trebuchet MS';
    margin-bottom: 50vh;
}

h1 {
    color: white;
    text-align: center;
}
h2{
    font-size:3rem;
    color:red;
    text-align: center;
}

.box-container {
    border: 2px solid white;
    color: black;
    font-weight: bold;
    display: grid;


}

.grid-item {
    padding: 10px;
    text-align: center;
}

.box-1 {
    background: lightblue;
}

.box-2 {
    background: lightcoral;
}

.box-3 {
    background: lightcyan;
}

.box-4 {
    background: lightslategray;
}

.box-5 {
    background: lightgray;
}

.box-6 {
    background: lightgreen;
}

.box-7 {
    background: lightsalmon;
}

.box-8 {
    background: lightseagreen;
}

.box-9 {
    background: lightgoldenrodyellow;
}

.box-10 {
    background: lightskyblue;
}
                                        /* Starting  Grid  */

/* CSS Grid 

                       --- Container Properties ---

    1.display

    2.grid-template-columns
    3.grid-template-rows
    4.grid-template       <-- grid-template-rows / grid-template-colums

    5.column-gap
    6.row-gap
    7.gap                 <-- row-gap + column-gap

    8.justify-items       <-- align items Horizontal line
    9.align-items         <-- align items Vertical  line
    10.place-items        <-- ( align-items + justify-items )

  
    11.justify-content    <-- align content Horizontal line
    12.align-content      <-- align content Vertical line
    13.place-content      <-- ( aling-content + justify-content )

    14.grid-auto-flow     <-- it change the direction row  or column

    15.grid-auto-columns  <-- incress the column size
    16.grid-auto-rows     <-- incress the row size

                             --- Item Properties ---
    
    
    17.grid-column-start   <-- start value to span column
    18.grid-column-end     <-- end value to stop span 
    19.grid-column         <-- ( grid-column-start + grid-column-end )

    20.grid-row-start       <-- start value to span row
    21.grid-row-end         <-- end value to stop span 
    22.grid-row             <-- ( grid-row-start + grid-row-end )

    23.justify-self  <-- it working to inside align-items 
    24.align-self  
    25.place-self   <-- ( align-self + justify-self )

    26.grid-template-areas  <-- using container propertie - 1 
    27.grid-area   <-- using Item propetie  - 2
         (or)
    27.grid-area  <--(row-start/column-start/row-end/column-end)

    28.order




 */
.container1 {
    display: grid;
    display: inline-grid;
}


.container2 {
    grid-template-columns: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px 200px 200px;

    /* repeat(times to repeat, value size)  */
    grid-template-columns: repeat(5, 200px);   
    grid-template-columns: repeat(5, 200px) 400px;

     /* Using Fraction Unit */
    grid-template-columns: 1fr 2fr 1fr ;
    grid-template-columns: repeat(3,1fr); 

    /* minmax(minium, maximum) */
    grid-template-columns: repeat(3,minmax(100px,1fr)); 
}

.container3{
    height: 600px;
    grid-template-rows: 100px 100px 100px ;
    grid-template-rows: 100px 100px 100px 100px 100px ;
    grid-template-rows: repeat(5,100px);
    grid-template-rows: repeat(4,100px) 300px;
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
    grid-template-rows: repeat(5,1fr); 
    grid-template-rows: repeat(5,minmax(50px,1fr)); 
}
.container4{
    /* gird-template-rows / grid-template-columns = grid-template */
    grid-template: repeat(5,1fr)/repeat(2,1fr);
}

.container5{
    grid-template: 1fr 1fr/1fr 1fr;

    column-gap:10px;

}
.container6{
    grid-template: 1fr 1fr/1fr 1fr;

    row-gap: 10px;
    
}
.container7{
    grid-template: 1fr 1fr/1fr 1fr;

    /* row-gap + column-gap = gap */
    gap:10px 10px;
    gap:20px;
}

.container8{
   grid-template:repeat(2,1fr)/repeat(2,1fr);

   /* align items horizontal line */
   justify-items: stretch;
   justify-items: start;
   justify-items: center;
   justify-items: end;
   /* Go to Developer tools Layout click the grid overlays */
}

.container9{
    height:500px;
    grid-template:repeat(3,1fr)/repeat(2,1fr);

    /* align items vertical line */
    align-items:stretch;
    align-items:start;
    align-items: center;
    align-items: end;
   /* Go to Developer tools Layout click the grid overlays */
}

.container10{
    height:500px;
    grid-template:repeat(3,1fr)/repeat(2,1fr); 

    /* align-items + justify-items = place-items*/
    place-items:center end ;
    place-items:center  ;

}

.container11{
    height:500px;
    grid-template:repeat(2,100px)/repeat(3,100px);

    /* align content horizontal line */
    justify-content: start;
    justify-content: end;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-evenly;
    justify-content: space-between;

   
}


.container12{
    height:500px;
    grid-template:repeat(2,100px)/repeat(3,100px);

    /* align content vertical line */
    align-content:start;
    align-content: end;
    align-content: center;
    align-content: space-around;
    align-content: space-evenly;
    align-content: space-between;

}

.container13{
    height:600px;
    grid-template:repeat(2,100px)/repeat(3,100px);

    /* aling-content + justify-content = place-content*/
    place-content:center end ;
    place-content:center;

}

.container14{
    grid-auto-flow: row;
    grid-auto-flow:column;
}

.container15{
    grid-auto-columns:710px;
    
}

.container16{
    grid-auto-rows:150px;
    
}


/***************** Item Properties ******************/

                    /* grid-column-start */
.container17{
    grid-template:repeat(3,200px)/repeat(3,200px);
 
} 
.container17 .box-1{
    grid-column-start:1;   
    grid-column-end:3;   
}

                    /* grid-column-end */
.container18{
    grid-template:repeat(3,200px)/repeat(3,200px);
}
.container18 .box-1{
    grid-column-start:2;   
    grid-column-end:4;  
}

                    /* grid-column*/
.container19{
    grid-template:repeat(3,200px)/repeat(3,200px);
}
.container19 .box-1{
        /* grid-row-start + grid-row-end = grid-row */
    grid-column:1/span 3;
}


                    /* grid-row-start */
.container20{
    grid-template:repeat(3,200px)/repeat(3,200px);
 
} 
.container20 .box-1{
    grid-row-start:1;   
    grid-row-end:3;   
}

                    /* grid-row-end */
.container21{
    grid-template:repeat(3,200px)/repeat(3,200px);
}
.container21 .box-1{
    grid-row-start:2;   
    grid-row-end:4;  
}

                    /* grid-row */
.container22{
    grid-template:repeat(3,200px)/repeat(3,200px);
}
.container22 .box-1{
    /* grid-row-start + grid-row-end = grid-row */
    grid-row:1 / span 2;
    grid-row:span 2;
}



                /* justify-self */
.container23{
    grid-template:repeat(2,100px)/repeat(2,1fr);
}
.container23 .box-1{
    justify-self: stretch;
    justify-self: end;
    justify-self: center;
    justify-self:start;
    
}
                /* align-self */
.container24{
    grid-template:repeat(2,100px)/repeat(2,1fr);

}
.container24 .box-1{
    align-self: stretch;
    align-self: end;
    align-self: center;
    align-self: start;;
    
}
                /* place-self */
.container25{
    grid-template:repeat(2,100px)/repeat(2,1fr);

}
.container25 .box-1{
 /* align-self + justify-self */
    place-self:center center;
}


                                /* grid-template-areas + grid-area */
.container26{
    display: grid;
    width: 95vw;
    height:100vh;
     text-align: center;
    grid-template-areas: 
    'head  head  head'    
    'nav  main  sidebar'
    'footer footer footer' 
    ;
grid-template-columns: 1fr 4fr 1fr ;

}

.header,.nav,.main,.aside,.footer{
    background-color:yellow;
    border:2px solid white;
}

.header{
    grid-area:head;

}
.nav{
    grid-area:nav;
   
}
.main{
    grid-area:main;

}
.aside{
    grid-area:sidebar;
}
.footer{ 
    grid-area:footer;
}



/* gird-area */


.container27{
 display: grid;
 grid-template:repeat(3,100px)/repeat(3,100px);

}
.container27 .box-1{ 
    grid-area:2/2/3/3; 
}

