*{
  margin: 0;
  padding: 0;
}
/* links */

a,a:visited,a:hover{
  text-decoration:none;
}
/* Navigation Bar */
.navbar-container{
    display: flex;
    justify-content:space-around;
    align-items: center;
    border:1px solid black;
    padding:15px;
    font-weight: bold;
    background-color: black;
  }
/* Naigation menu */
  li{
    list-style-type: none;
  }
  .header-links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
  }

.header-links a{
  color: white;
}

/* Hamburger Menu */
.hmenu{
 display:block;
 width:20px;
 height:3px;
 background-color:white;
 border-radius:10px;
 margin-bottom:3px;
}

body{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-variant: small-caps;
}

@media all and (max-width:650px){

  .navbar-container{
    justify-content: space-between;
    height: 20px;
  }
  .header-logo{
    color:white;
  }
  .header-links{
    position: relative;   
    top:120px;
    right:30px;
    border: 1px solid black;
    background-color: gray;
    flex-direction: column;
    gap:10px;
    padding: 20px;
    width:50%;
    transition:0.5s;
  }
  .header-links a{
    color:black;
  }
  .header-links a:hover{
    transition: color 200ms ease-in-out;
    color:yellow;
  }

}