*{
  box-sizing: border-box;
  font-variant: small-caps;
}
body{
  background-color: lightblue;
  font-size:16px;
  text-transform:capitalize;
  margin: 0%;
  padding: 0%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* ex1             celsius to fahrenheit converter project-1 */
.ex1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightcoral;
  padding:40px;
  text-align: center;
 
}
#fahresult{
    margin-top:10px;
    padding:2px;
    background-color: lightblue;
    height:30px;
    text-align: center;
    font-size:1.5rem;
}
/* ex2             Mulitipe condition and condition chains project-2 */

.ex2{
  text-align: center;
  padding:40px;
  background-color: lightcyan;
}
#mark-result{
  margin-top:10px;
  padding:2px;
  font-size:1.5rem;
  height:30px;
}

/* ex2             Bitwise Operatiors calculation  project-3 */
.ex3{
  text-align: center;
  padding:40px;
  background-color: lightgray;
}
#bitresult{
  margin-top:10px;
  padding:2px;
  font-size:1.5rem;
  height:30px;
  background-color: lightseagreen;
}
/* ex4       Handling null using to function   */

.ex4{
  text-align: center;
  padding:40px;
  background-color: lightgreen;
}
/* ex7      <!-- Looping in javascript  -->   */

/* ex8     Check the city status PROJECT   */

.ex8{
    margin: 50px;
   display:flex;
   justify-content:center;
   align-items:center;
   text-align: center;
}
.ex8-box--container{
  border:1px solid black;
  padding:30px;
}
.ex8-box--container button{
  padding:6px;
}
.ex8-box--container select{
  padding:6px;
  margin: 10px;
}
/* count the words project 15 */
.contwordsbox{

  border:1px solid black;
  padding: 10px;
  text-align: center;  
}


/* calculator   project 16  */


.calbox{
  border:1px solid black;
  padding: 10px;
  text-align: center;  
  background-color:#25242a;
  color:gainsboro;

}
.calbox ,input ,button{ 
  padding: 10px;
  margin:20px 10px;
  font-weight: bold;
}