html {
  font-size: 100%;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-variant: small-caps;
  text-decoration: none;
}

body {
  background-image: url(../image/homebg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande","Lucida Sans", Arial, sans-serif;
  background-color: black;
  font-size: 16px;
  line-height: 1.6;
}

.header {
  position: fixed;
  left:0;
  right:0;
  padding:10px;
  background: linear-gradient(to right, rgba(0, 172, 240, 0.6), rgba(255, 0, 0, 0.6));
  transition: all 0.3s ease 0s;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar li {
  list-style-type: none;
  display: inline-block;
  margin: 0 10px;
}

.navbar a {
  color: #ededed;
  border-radius: 2px;
  padding: 8px;
  font-weight: bold;
}

ul a:hover {
  background-color: #00abf0;
  color: white;
  transition: 0.5s;
}

.logo {
  font-family: monospace;
  font-weight: bold;
  color: white;
  font-size: 1.25rem;
}

.hmenu-line {
  background-color:#ededed ;
  width: 15px;
  height:15px;
  border-radius:50%;
}

.hmenu {
  cursor: pointer;
  display: none;
}

.box-head {
  height:3.2rem;
}

/*Main Container */
.main-container {
  display:flex;
  flex-direction: column;
}

.name {
  color:#00abf0;
  font-weight:bold;
  font-size:4.5rem;
}

.name-description {
  text-align:justify;
  font-size:3rem;
  color: white;
}

.button-container {
  /* margin-top:5em;
  margin-bottom:5em; */
  margin:0 50px;


}
.name-container{  
margin:120px 50px 10px;
}

.button-primary,
.button-secondary {
  padding: 14px;
  width: 8em;
  border: none;
  font-size:1.5rem;
  font-weight: bold;
  background:linear-gradient(to right, rgb(3, 184, 255), rgba(0, 172, 240, 0.05));
  border: 2px solid white;
  color: white;
  border-radius: 4px;
}

.button-secondary {
  margin-left: 3em;
}

.button-primary:hover,
.button-secondary:hover {
  background: linear-gradient(to right, rgb(0, 172, 240), rgba(255, 0, 0, 0.6));
  border: 2px solid white;
  transition: 0.5s;
}

.icon-link__container {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  left: 1px;
  bottom: 1px;
  width: 130px;
  border-radius: 50%;
}

img {
  width: 30px;
}

#icon3 {
  background-color: white;
  border-radius: 60%;
  border: 1px solid white;
}

/* Media Querise */

@media all and (max-width: 1024px){
.name{
font-size: 3rem;  
}
.name-description{
font-size: 3rem;  
}

}

@media all and (max-width: 768px){

.name{
font-size: 2rem;
}
.name-description{
  font-size: 2rem;  
  }
}

@media all and (max-width: 650px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }
  .navbar li {
    display: block;
    padding: 6px;
  }
  .hmenu {
    display: block;
    position: absolute;
    top: 22px;
    left: 20px;
  }
  .showmenu {
    display: none;
  }
}


@media all and (max-width: 425px){
  .name{
  font-size: 1.5rem;
  }
  .name-description{
    font-size: 1.5rem;  
    }
  
  }

  @media all and (max-width: 375px){
 
    .name{
    font-size: 1rem;
    color: black;
    } 
    .name-description{
      font-size: 1rem;  
      }
    
    }
    
@media all and (max-width: 320px){
 
.name{
font-size: 0.75rem;
color: black;
} 

.name-description{
  font-size: 0.75rem;  
  }

}





