*{
    margin:0%;
    padding:0%;
    font-variant:small-caps;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

.box-container{
    border:1px solid black;
    display:flex;
    text-align:center;
    flex-wrap:wrap;
}
.box-container div{
    padding:10px;

}

.box1{
       
    background-color: lightblue;
}
.box2{

   background-color: lightcoral;
}
.box3{

   background-color: lightcyan;
}
.box4{

   background-color: lightgoldenrodyellow;
}
.box5{

   background-color: lightgray;
}

