.box-container{
 border:1px solid black;
 height: 100vh;
 display: flex;
 flex-direction: column;
 align-items: start;
 
}
    .box1{
     border:1px solid black;
     height:50vmax;
     height:20vw;
    }
    