*{
    margin: 0%;
    padding: 0%;
    font-variant:small-caps;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    background-image: url();
    background-attachment: fixed;
    background-size:cover;
    background-repeat:no-repeat ;
    background-position: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* header *********************************************** */

.navbar{
 left: 0%;
 right: 0%;
 background-color: rgba(0, 0, 0);
 display:flex;
 justify-content:center;
 align-items: center;
 padding: 5px;
 font-weight: bold;
 z-index: 1;

}
.navbar a{
    color: white;
    padding: 8px;
    margin: 10px;
    margin-inline:30px ;
    border-radius:2px;
}

#home:hover,#collection:hover,#accessories:hover,#contact:hover{
   background-color: white;
   color: black;
    transition: 0.5s;
 }
 /* #logo{
    position: fixed;
    left: 20px;
    top:22px;
    z-index: 2;
    font-size: 1.2rem;
    color: white;
   
 } */
 #logo{
    position: fixed;
    left:10px;

 }
 ul li{
    display: inline-block;
 }

 #boxhead{
    height:58px;
    border:2px solid yellow;

 }
/* menu ***************** */
 .menu{
    position: absolute;
    top:25px;
    left:25px;
    cursor: pointer;
    display:none;
}
.menu-line{
 height: 4px;
 width: 20px;
 background-color: white;
 margin-bottom: 5px;

}
 @media (max-width:900px){

    #logo{
    position: relative;
    left: 0px;
    right: 0px;
    word-spacing:5px;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
    }
    .navbar{
        flex-direction:column;
        align-items: center;
        font-size: 20px;
        
            
    }

   .menu{
    display:block;
}
   

  
}
