*{
    margin: 0%;
    padding: 0%;
    font-variant:small-caps;
    box-sizing: border-box;
    font-variant: small-caps;
}
a{
    text-decoration: none;
}
body{
    background-image: url();
    background-attachment: fixed;
    background-size:cover;
    background-repeat:no-repeat ;
    background-position: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* header *********************************************** */
.navbar{
    position: fixed;
    left: 0%;
    right: 0%;
    background-color: rgba(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 5px;
    font-weight: bold;
    z-index: 1;

}
#logo{
    position: relative;
    left: 20px;
    right: 20px;
}
.navbar li{
    display: inline-block;
    margin:0px 20px;
}
ul li a{
    color:white;
}
.menu{
    position: absolute;
    top:25px;
    left:25px;
    cursor: pointer;
    display:none;
}
.menu-line{
 height: 4px;
 width: 20px;
 background-color: white;
 margin-bottom: 5px;

}