

body{
    display:flex;
    justify-content:center ;
    align-items: center;
    border: 1px solid red;
    height: 90vh;
}
.box1{
    border:1px solid black;
    max-width: 1000px;
    min-width: 10px;
    background-color:lightblue;
    text-align: center;
}




@media (min-width:401px) {


    .box1{

        background-color: red;
    }
    

}
@media (max-width:400px) {
    .box1{
     background-color: blue;
    }
    
}