* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #24252a;
    color: white;
    font-size: 16px;
}

h1 {
    color: red;
    text-align: center;
}
h2{
    margin:15px;
    color: yellow;
}
div[class*=box]{
    margin:40px 10px; 
}
p {
    margin-left: 30px;
    font-size: 1.5rem; 
    line-height: 2;
}

/* 
                                             CSS Transition

1. transition: transition-property transition-duriation transition-delay transition-timing-function ;

2. transition-property         
        -- all --> default 
        -- border 
        -- background-color
            
3. transition-duration         
        -- 0.5s
        -- 1s
        -- 2s

4. transition-timing-function  
        -- ease          - slow-start fast slowly-end --> default
        -- ease-in       - slow fast 
        -- ease-in-out   - slow fast slow 
        -- ease-out      - fast slow 
        -- liner         - Normal  
        -- cubic-bezier  - Custom your speed
        
5. transition-delay

*/

#transition-container{
    margin-top: 40px;
    padding:10px;
   border:1px solid springgreen;
 }

 [class^=trans]{
    border:1px solid white;
    width: 150px;
    height:150px;
    background-color: #3cceff; 
    display: flex;
    justify-content: center;
    align-items:center ; 
    text-align:center; 
 }


                                /*2.transition-property */

/*transition-property */
.trans-box-1:hover{
    background-color:hotpink;
    width:500px; 
    transition-duration:2s;

    /* transition-property: all; ---> default  */
    transition-property: background-color;

}
                                 /* 3. transition-duration */

/* transition-duration */
.trans-box-2:hover{
    background-color: springgreen;
    width:500px;

    transition-duration:2s;
}
                           
                         /* 4. transition-timing-function  */

/*ease */
.trans-box-3:hover  {
    background-color: lightgreen;
    width:500px;
    transition-duration:2s;

    transition-timing-function: ease;


}
/* ease-in */
.trans-box-4:hover  {
    background-color: lightgreen;
    width:500px;
    transition-duration:2s;

    transition-timing-function: ease-in;

}
/* ease-in-out */
.trans-box-5:hover  {
    background-color: lightgreen;
    width:500px;
    transition-duration:2s;

    transition-timing-function: ease-in-out;
    
}
/* ease-out */
.trans-box-6:hover  {
    background-color: lightgreen;
    width:500px;
    transition-duration:2s;

    transition-timing-function: ease-out;
    
}
/* linear */
.trans-box-7:hover  {
    background-color: lightgreen;
    width:500px;
    transition-duration:2s;

    transition-timing-function:linear;
    
}
/* cubic-bezier --> custom transition  */
.trans-box-8:hover  {
    background-color: lightgreen;
    width:500px;
    transition-duration:2s;

    transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
    
}

                    /* 5. transition-delay */

.trans-box-9:hover {
    background-color: lightsalmon;
    width:500px;
    transition-duration:2s;

    /* transition-delay */
    transition-delay:3s;
}   


                        /* 1. transition  */

/* 1. transition = transition-property + transition-duriation + transition-delay + transition-timing-function  */

.trans-box-10:hover {
    transition:all 3s 1s ease;

    background-color: lightsalmon;
    width:500px;
    
}