body{
    background-color: #25242a;
    
}
.heading1{
    text-align: center;
    color: whitesmoke;
    font:small-caps bold 1.5rem 'Terbuchet MS';
}

.heading2{
    text-align: center;
    font-size: 50px;
    color: white;
}

.search-box-container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.searchInput {
    padding:10px;
    padding-left:20px ;
    color: black;
    font-size: 16px;
    width:60vw;
    border-radius:50px;
    border: none;
} 

.searchInput:focus{
   outline:2px solid cornflowerblue;
}


.searchButton{
    margin-left:6px;
    padding: 10px;
    font-size: 16px;
    border-radius:50px;
    border: none;
}

.searchButton:hover{
 outline:2px solid cornflowerblue; 
}

.searchButton:active {
    background-color:lightgreen;
    color: white;
    outline:2px solid white;
     
}
hr{
    margin-top: 50px;
}

.words-english{
    text-transform:capitalize;
    font-size:35px;
    color: honeydew;
}
.words-tamil{
    color: red;
    font-size:30px;
}

.words-container{
    padding:25px;
}