* {
  margin:0;
  padding:0;
  color: #edf0f1;
  box-sizing: border-box;
  font-variant: small-caps;

}
body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color:#24252a;

}
a {
  text-decoration: none;
}
header {
  padding:10px;
  background-color: rgba(211, 211, 211,0.25);
  font-weight:600;
  transition: all 0.3s ease 0s;

}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar li {
  display:inline-block;
  margin:5px;
  padding:5px;
}
.menu{
  display: none;
}
.menulist{
  width: 20px;
  height:2px;
  background-color: black;
  margin-bottom:4px; 
}
.log{
  margin: 10px;
}
.navbar li a{
  transition: all 0.3s ease 0s;
}
@media all and (max-width: 768px) {
  .navbar li a{
    color:black;
  }
  .navbar{
        flex-direction:column;
        text-align: center;
       
  }
  .showmenu1{
    background-color: white;
    width:auto;
    padding:8px;
    border-radius:10px;
  } 
  .navbar li{
    display:block;
    
  }
  

  .menu {
    display:block;
    position: absolute;
    top:22px;
    left:20px; 
    cursor:pointer;
    
  }
  .showmenu{
    display:none;
  }

}
