body{
    background-color: #25242a;
    
}
.heading1{
    text-align: center;
    color: whitesmoke;
    font:small-caps bold 1.5rem 'Terbuchet MS';
}

.heading2{
    text-align: center;
    font-size: 50px;
    color: white;
}

                                 /* Search Input  */
.search-box-container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.searchInput {
    padding:10px;
    padding-left:20px ;
    color: black;
    font-size: 16px;
    width:60vw;
    border-radius:50px;
    border: none;
} 

.searchInput:focus{
   outline:2px solid cornflowerblue;
}


                                /* Search Button  */
.searchButton{
    margin-left:6px;
    padding: 10px;
    font-size: 16px;
    border-radius:50px;
    border: none;
}

.searchButton:hover{
 outline:2px solid cornflowerblue; 
}

.searchButton:active {
    background-color:lightgreen;
    color: white;
    outline:2px solid white;
     
}

                                /* Add Words Input  */
.add-words-container{
    margin-top:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.english-input,.tamil-input {
    padding:10px;
    color: black;
    font-size: 16px;
    width:25vw;
    border-radius:50px;
    border: none;
    margin-left: 10px;
    text-align: center;
} 
                                    /* Add Button */        
.add-button{
        margin-left:12px;
        padding: 10px;
        font-size: 16px;
        border-radius:50px;
        border: none;
}
.add-button:hover{
    outline:2px solid cornflowerblue; 
   }
   
.add-button:active {
       background-color:lightgreen;
       color: white;
       outline:2px solid white;
        
   }


hr{
    margin-top: 50px;
}


                                    /*  word container   */
.words-english{
    text-transform:capitalize;
    font-size:35px;
    color: honeydew;
}
.words-tamil{
    color: red;
    font-size:30px;
}

.words-container{
    padding:25px;
}

/* error text */

.error{
    color: red;
    text-align: center;
    font-weight: bold;
}