*{ 
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
    text-decoration:none;
    font-variant:small-caps;

}
body{
    width: 100%;
    height: 100vh;
    background-image:url(signinbg.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.form-title{
    margin-bottom: 10px;
    color: white;
}


.form-container{
    border-radius:10px;
    text-align: center;
    padding: 15px;
    background: linear-gradient(to left,rgba(253, 130, 255,0.3), rgb(169, 234, 255,0.56 ));


}
input,button{
    padding: 15px;
    margin: 20px ;
    width: 20vw;
    border-radius:8px;
    border: none;
    background-color: rgba(0, 0, 0,0.5);
    color: white;
}
button{
    font-weight: bold;
    font-size:15px;
    background: linear-gradient(to left,rgba(253, 130, 255,0.3), rgba(169, 234, 255, 0.623));
    

}
button:hover{
    background: linear-gradient(to right,rgba(253, 130, 255,0.3), rgb(169, 234, 255,0.56 ));  
    transition: 0.5s;
    transform: scale(1.07);

}
p{
    margin-bottom:10px;
}
p a{
    margin-left:15px;
}
::placeholder{
 color:rgba(255, 255, 255, 0.904);
}