body{
    background-color: #24252a;
    color:white;
}
h1{
    color: red;
    text-align: center;
    
}


/* classList */
.checkclass{
    padding:10px;
    font-size: 20px;

}

[class^="container"]{
    margin-top:50px;
    padding: 10px;
}

.para-container5{
    border: 1px solid white;
    padding-inline:20px;
    display: flex;
    justify-content: space-between;
    align-items:center;

}