body{
    background-color: #24252a;
    color:white;
}
h1{
    color: red;
    text-align: center;
    
}


/* classList */
.checkclass{
    padding:10px;
    font-size: 20px;

}

[class^="container"]{
    margin-top:50px;
    padding: 10px;
    
}

.para-container5{
    border: 1px solid white;
    padding-inline:20px;
    display: flex;
    justify-content: space-between;
    align-items:center;

}

/* 14. Setting and Getting HTML Attribute */
.input-name-container{
    border: 1px solid springgreen;
    margin:10px;
    padding: 20px;
}
.input-name-container input{
    padding: 10px 20px;
    outline: none;
    border:none;
    border-radius:3px;
    font-family:cursive;
}


/* 15. Setting and Getting inline style  */

/* 4. using className style  */
.style-container-button{
    border-radius: 6px;
    width:150px;
}
